<div class="container">
  <h1 class="title">Stupid Coaching 🤪 </h1>

  <form action="/answer">
    <h5 class= "word" for=""><center>Ask your coach anything:</center></h5>
    <div class ="title" class="input">
      <input type="text" name="question">
      <input type="submit" value="Ask!">
    </div>
  </form>
</div>
